// app global css in SCSS form
.q-table {
  tbody {
    tr:hover {
      cursor: pointer;
      background-color: $primary;
      color: white;
    }
  }
}

.data-card {
  min-width: 500px;

  .card-row:not(:last-child) {
    margin-bottom: 1rem;
  }

  .column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.data-card-list {
  min-width: 250px;
}
